@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./variables.css";

* {
  margin: 0;padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding : var(--padding);
  min-height: 100vh;
  display: flex;
}

main {
  max-width: var(--main-width);
  margin: auto;
}

#root {
  width: 100%;
  min-height:100%;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap : var(--padding);
}

button svg {
  font-size: medium;
}

button, input {
  padding : var(--padding) var(--padding-xll);
  border: none;
  outline: none;
  background:none;
  border : 1px solid var(--secondary);
  font-family: inherit;
  border-radius: 999px;
  transition : box-shadow 0.2s ease-in-out;
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  color : inherit;
  font-size: var(--font-size);
}

span, p {
  font-size: var(--font-size);
}

h1 {
  font-size: var(--font-size-xll);
}