.container {
    background : var(--primary);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    padding-block: var(--padding);
    gap: var(--padding);
}

.container span {
    font-size: var(--font-size);
    white-space: nowrap;
}

.container button {
    border-radius: 999px;
}

.container button:disabled {
    pointer-events: none;
    opacity: 0.2;
}

@media  (max-width: 300px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows : 1fr 1fr;
    }
    .container span {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
}

